apiVersion: v1
kind: Secret
metadata:
  name: unassigned-maintenance-config
  namespace: unassigned-maintenance-broadcast-system
stringData:
  DEDICATED_USER: 
  DEDICATED_TOKEN: 
  EMAIL_SENDER: 
  EMAIL_RECIPIENT: 
  SOURCE_REPO: 
  NAMESPACE: 
  CLUSTER: 
